@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
a{
  text-decoration: none;
  color: var(--primary-color);
}

.container{
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}
.title{
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

/* Authorisation pages */
.login-page{
  padding: 50px 0;
}

/* InfoTable */
.grid-three{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 20px;
}
.info-table-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 30px;
}

/* Error pages */
.error-page{
  max-width: 500px;
  margin: auto;
  margin-top: 150px;
}
.error-page__title{
  font-size: 33px;
  font-weight: 500;
}
.error-page__paragraph{
  line-height: 1.5;
}

/* Popup */
.popup-tags{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 10px;
}
.popup__tag{
  padding: 10px;
  text-align: center;
  border: 1px solid var(--border-opaque);
  background-color: var(--grey-bg);
  cursor: pointer;
  transition: background-color 0.2s;
}
.popup__tag:hover{
  background-color: #fff;
}
